.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
  color: #fbebff
}

/*! Media Queries */

/* Mobile Phones */
// @media (max-width: 414px) {
//   .row {
//     flex-direction: column !important;
//   }
//   .col {
//     flex-direction: row !important;
//   }
// }

