body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

// Secondary Heading Text Styling
.heading-secondary {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

// Tertiary Heading Text Styling
.heading-tertiary {
  font-family: 'Open Sans', sans-serif;
  width: 28rem;
}
